# Datasets
*.zip
*.csv
*.parquet
MachineLearningCVE/
data/

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
.env
.ipynb_checkpoints/

# Ignore large data and model files
*.pcap
*.pt
models/

